/** socket-chess.css
 * Client for SocketChess, a Node.js and Socket.io driven
 * online chess game.
 * 
 * Author: Agustin Castro <castro.agustin.ii@gmail.com>
 */

@font-face {
	font-family: 'Cheq';
	src: url('fonts/CHEQ_TT.TTF');
}

#app {
	position: relative;
	width: 55%;
	margin: 0 auto;
}

#app .board {
	width: 100%;
	border: 2px solid #000;
}

#app .pieces {
	position: absolute;
	width: 100%;
	font-family: 'cheq';
}